:root {
    --background-color: #FFF9D8;
    --text-color: #000000;
    --title-color: #2C2B47;
    --menu-text-color: #fbf1f1;
    --yellow-color: #FEC447;
    --pink-color: #FECCB5;
    --blue-color: #9BD3D0;
    --button-color: #FEC447;
    --box-hover-border: #1a1c1a;
    --box-container-hover-shadow: #1a1c1a; 
    --menu-container-color: #373737;
    --button-background-color: #fbeee0;
    --button-border-shadow-color: #422800;
    --quiz-background-color: rgba(254, 204, 181, 0.8);
    --first-chart-line: #C3DCEE;
    --second-chart-line: #FFCAA3;
    --first-chart-line-stroke: #80accc;
    --second-chart-line-stroke: #e7ab7f;
    --flip-card-background: rgba(254, 196, 71, 0.4);
    --table-color-first: #fde4d2;
    --table-color-second: #f8d7c0;
    --table-text-color: #0d0c24;
}

[data-theme="dark"] {
    --background-color: #141425;
    --text-color: #FFFCFC;
    --title-color: #FEC447;
    --menu-text-color: #FFFCFC;
    --yellow-color: #D9E826;
    --pink-color: #FF47D6;
    --blue-color: #00C0B5;
    --button-color: #FEC447;
    --box-hover-border: #FFFCFC;
    --box-container-hover-shadow: #2C2B47; 
    --menu-container-color: #2C2B47;
    --button-background-color: #00C0B5;
    --button-border-shadow-color: #2C2B47;
    --quiz-background-color: rgba(255, 255, 255, 0.9);
    --first-chart-line: #6E8EFF;
    --second-chart-line: #FF77E1;
    --first-chart-line-stroke: #4055a2;
    --second-chart-line-stroke: #b74ca0;
    --flip-card-background: rgba(217, 232, 38, 0.4);
    --table-color-first: #a6b7f4;
    --table-color-second: #96ace1;
    --table-text-color: #0d0c24;
}

body {
    background-color: var(--background-color);
}
