:root {
  --menu-width: 110px;
  --menu-item-width: 30px;
  --additional-distance: 3vw;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  margin-left: 6%;
  margin-right: var(--menu-width);
  position: relative;
}

.menu li {
  color: var(--text-color);
  font-family: "Mada", sans-serif;
  font-size: medium;
  display: inline-block;
  margin-left: var(--menu-item-width);
  cursor: pointer;
}

.menu a:hover {
  border: 1px solid var(--box-hover-border);
  border-radius: 8px;
  padding: 10px 20px;
}

.menu li a {
  text-decoration: none; 
  color: inherit; 
}

#night-mode {
  position: absolute;
  margin-left: calc(
    100vw - var(--menu-width) - (var(--menu-item-width) * 3) -
      var(--additional-distance)
  );
  top: 20px;
}
