:root {
  --menu-width: 110px; /* Set the width of the menu */
  --menu-item-width: 30px; /* Set the width of one menu item */
  --additional-distance: 3vw; /* Set additional distance as a percentage of screen width */
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-left: 6%;
  margin-right: var(--menu-width); /* Use the value of the variable */
  position: relative; /* Establish positioning context for absolute positioning */
}

.menu li {
  color: #000000;
  font-family: "Mada", sans-serif;
  font-size: medium;
  display: inline-block;
  margin-left: var(--menu-item-width); /* Use the value of the variable */
}

.menu a:hover {
  border: 1px solid #000000; /* Example border style */
  border-radius: 8px;
  padding: 10px 20px;
}

#night-mode {
  position: absolute;
  margin-left: calc(
    100vw - var(--menu-width) - (var(--menu-item-width) * 3) -
      var(--additional-distance)
  ); /* Calculate distance from the right edge of the screen */
  top: 20px; /* Align to the top of the menu */
}
