body {
  background-color: var(--background-color);
}

.menu {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; 
  font-size: calc(10px + 2vmin);
}

.second-menu {
  background-color: var(--menu-container-color);
  height: 59px;
  color: var(--menu-text-color);
}

.main-headline {
  color: var(--title-color);
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin-left: 150px;
  margin-top: 30px;
}
.block-headline {
  color: var(--title-color);
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  max-width: 600px;
  margin: auto;
}

.headline-block {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.mode-button {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-shadow-color);
  border-radius: 30px;
  box-shadow: var(--button-border-shadow-color) 4px 4px 0 0;
  color: var(--button-border-shadow-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  padding: 0 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mode-button:hover {
  background-color: #fff;
}

.mode-button:active {
  box-shadow: var(--button-border-shadow-color) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .mode-button {
    min-width: 70px;
    padding: 0 25px;
  }
}

.exam-card-levels {
  position: absolute;
  top: 50%; /* Розмістити по вертикалі на 50% */
  left: 50%; /* Розмістити по горизонталі на 50% */
  transform: translate(-55%, -50%);
  margin-top: 150px;
}